---
nameOverride: vkms

grafana:
  ingress:
    enabled: false
  grafana.ini:
    server:
      domain: grafana.beutra.fr
      root_url: "https://%(domain)s/"
      serve_from_sub_path: true
    public_dashboards:
      enabled: true

defaultDashboards:
  annotations:
    argocd.argoproj.io/sync-options: ServerSideApply=true
    
vmsingle:
  spec:
    retentionPeriod: "30d"
    storage:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 100Gi
      storageClassName: longhorn-single

alertmanager:
  spec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn-single
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi
