---
authentik:
  log_level: info
  
  resources:
    server:
      requests:
        memory: 300Mi
      limits:
        memory: 600Mi
    worker:
      requests:
        memory: 200Mi
      limits:
        memory: 500Mi

server:
  envFrom:
    - secretRef:
        name: authentik-secrets
  env:
    - name: AUTHENTIK_POSTGRESQL__HOST
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: host
    - name: AUTHENTIK_POSTGRESQL__NAME
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: dbname
    - name: AUTHENTIK_POSTGRESQL__USER
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: username
    - name: AUTHENTIK_POSTGRESQL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: password
    - name: AUTHENTIK_POSTGRESQL__PORT
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: port
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - auth.beutra.fr
    tls:
      - secretName: authentik-tls
        hosts:
          - auth.beutra.fr

worker:
  envFrom:
    - secretRef:
        name: authentik-secrets
  env:
    - name: AUTHENTIK_POSTGRESQL__HOST
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: host
    - name: AUTHENTIK_POSTGRESQL__NAME
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: dbname
    - name: AUTHENTIK_POSTGRESQL__USER
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: username
    - name: AUTHENTIK_POSTGRESQL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: password
    - name: AUTHENTIK_POSTGRESQL__PORT
      valueFrom:
        secretKeyRef:
          name: authentik-pg-app
          key: port

postgresql:
  enabled: false