ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
    - host: auth.beutra.fr
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    enabled: true
    secret: authelia-tls

secret:
  jwt:
    value: "vkevYJKss5XtUleihncCCKaHI2rakjGJ"
  session:
    value: "OH9FsoKVRPLmJ5IUjkP8uIHMp171Fh1m"
  storage:
    value: "e87jiqYew6ra3uENgiDoDxV0kpUCDMZe"

pod:
  kind: Deployment
  replicas: 1
  strategy:
    type: Recreate

configMap:
  theme: light
  default_2fa_method: totp
  
  session:
    name: authelia_session
    expiration: 1h
    inactivity: 5m
    remember_me: 1M
    cookies:
      - domain: beutra.fr
        subdomain: auth
        default_redirection_url: https://auth.beutra.fr

  storage:
    local:
      enabled: false
    postgres:
      enabled: true
      host: authelia-db-rw
      port: 5432
      database: authelia
      username: authelia
  
  authentication_backend:
    file:
      enabled: true
      path: /config/users_database.yml
      password:
        algorithm: argon2id
  
  access_control:
    default_policy: deny
    rules:
      - domain: "*.beutra.fr"
        policy: one_factor
  
  notifier:
    filesystem:
      enabled: true
      filename: /config/notifications.txt

extraEnv:
  - name: AUTHELIA_STORAGE_POSTGRES_PASSWORD_FILE
    value: /secrets/postgres/password

extraVolumes:
  - name: authelia-db-secret
    secret:
      secretName: authelia-db-app

extraVolumeMounts:
  - name: authelia-db-secret
    mountPath: /secrets/postgres
    readOnly: true

persistence:
  enabled: true
  accessModes: ["ReadWriteOnce"]
  size: 1Gi
