ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  tls:
    enabled: true
    secret: authelia-tls

pod:
  kind: Deployment
  replicas: 1
  strategy:
    type: Recreate

configMap:
  theme: light
  default_2fa_method: totp
  
  session:
    name: authelia_session
    expiration: 1h
    inactivity: 5m
    remember_me: 1M
    cookies:
      - domain: beutra.fr
        subdomain: auth
        default_redirection_url: https://argocd.beutra.fr

  storage:
    local:
      enabled: true
      path: /config/db.sqlite3
  
  authentication_backend:
    file:
      enabled: true
      path: /config/users_database.yml
      password:
        algorithm: argon2id
  
  access_control:
    default_policy: deny
    rules:
      - domain: "*.beutra.fr"
        policy: one_factor
  
  notifier:
    filesystem:
      enabled: true
      filename: /config/notifications.txt

persistence:
  enabled: true
  accessModes: ["ReadWriteOnce"]
  size: 1Gi
