domain: beutra.fr

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
  hosts:
    - host: auth.beutra.fr
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: authelia-tls
      hosts:
        - auth.beutra.fr

configMap:
  theme: light
  default_2fa_method: totp
  
  session:
    name: authelia_session
    expiration: 1h
    inactivity: 5m
    remember_me_duration: 1M
    cookies:
      domain: beutra.fr
      authelia_url: https://auth.beutra.fr
      default_redirection_url: https://argocd.beutra.fr
  
  storage:
    local:
      path: /config/db.sqlite3
  
  authentication_backend:
    file:
      path: /config/users_database.yml
      password:
        algorithm: argon2id
  
  access_control:
    default_policy: deny
    rules:
      - domain: "*.beutra.fr"
        policy: one_factor
  
  notifier:
    filesystem:
      filename: /config/notifications.txt

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
  mountPath: /config