global:
  clusterName: petra-homelab
  otelCollectorEndpoint: signoz-otel-collector.signoz.svc.cluster.local:4317
  otelInsecure: true

presets:
  logsCollection:
    enabled: true
  hostMetrics:
    enabled: true
  kubeletMetrics:
    enabled: true
  kubernetesAttributes:
    enabled: true
  clusterMetrics:
    enabled: true
  otlpExporter:
    enabled: true
