global:
  clusterName: petra-homelab
  otelCollectorEndpoint: http://signoz-otel-collector.signoz.svc.cluster.local:4317

presets:
  logsCollection:
    enabled: true
  hostMetrics:
    enabled: true
  kubeletMetrics:
    enabled: true
  kubernetesAttributes:
    enabled: true
  otlpExporter:
    enabled: true
