apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: forgejo
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: oci://code.forgejo.org/forgejo-helm/forgejo
      chart: forgejo
      targetRevision: 15.0.4
      helm:
        releaseName: forgejo
        valueFiles:
          - $values/kubernetes/apps/forgejo/values.yaml
    - repoURL: https://github.com/hugz6/petra-homelab.git
      targetRevision: main
      path: kubernetes/apps/forgejo/resources
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: forgejo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
