image:
  tag: 30-apache

ingress:
  enabled: false

nextcloud:
  host: nextcloud.beutra.fr

  existingSecret:
    enabled: true
    secretName: nextcloud-admin-creds
    usernameKey: username
    passwordKey: password

  phpConfigs:
    production.ini: |
      memory_limit = 1024M
      upload_max_filesize = 10G
      post_max_size = 10G
      max_execution_time = 3600
      max_input_time = 3600
      opcache.enable=1
      opcache.interned_strings_buffer=16
      opcache.max_accelerated_files=10000
      opcache.memory_consumption=128
      opcache.save_comments=1
      opcache.revalidate_freq=1

  objectStore:
    s3:
      enabled: true
      port: "9000"
      ssl: false
      region: "us-east-1"
      usePathStyle: true
      existingSecret: "nextcloud-minio-creds"
      secretKeys:
        accessKey: "access-key"
        secretKey: "secret-key"
        host: "host"
        bucket: "bucket"

internalDatabase:
  enabled: true

redis:
  enabled: true
  auth:
    existingSecret: "nextcloud-redis-creds"
    existingSecretPasswordKey: "redis-password"
  architecture: standalone
  master:
    persistence:
      enabled: false

cronjob:
  enabled: true
  schedule: "*/5 * * * *"

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
