---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-ui
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "3" # After MetalLB and Traefik
spec:
  project: default
  source:
    repoURL: https://github.com/hugz6/petra-homelab-apps.git
    targetRevision: main
    path: argocd/infra/argocd-ui/resources
    directory:
      recurse: false
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 3
      backoff:
        duration: 5s
        maxDuration: 3m
