---
fullnameOverride: "argocd"

server:
  extraArgs:
    - --insecure
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    hostname: argocd.beutra.fr
    tls:
      - secretName: argocd-tls
        hosts:
          - argocd.beutra.fr

configs:
  cm:
    url: https://argocd.beutra.fr
    oidc.config: |
      name: Authentik
      issuer: https://auth.beutra.fr/application/o/argocd/
      clientID: 7Z5LhurHUxtBnzUpOI9tiTNxpgEDxIfehUYrUxXC
      clientSecret: $oidc.clientSecret
      requestedScopes: ["openid", "profile", "email", "groups"]
      requestedIDTokenClaims: {"groups": {"essential": true}}
  rbac:
    policy.csv: |
      g, devops, role:admin
  params:
    server.insecure: "true"