signoz:
  name: "signoz"
  replicaCount: 1
  service:
    type: ClusterIP
    port: 8080
    internalPort: 8085
    opampPort: 4320
  additionalArgs:
    - --use-logs-new-schema=true
    - --use-trace-new-schema=true
